{{template "header" .}}
<div class="px-6">
    <h1 class="py-4 text-3xl semibold">Contact Page</h1>
        <p class="text-gray-800">
            To get in touch, email me at <a class="underline" href="mailto:zbigniew.itrich@schanksysteme.com">zbigniew.itrich@schanksysteme.com</a>.
        </p>
</div>

{{template "footer" .}}